
/* esto es la nueva forma*/

.text-muted-cost {
  display: flex;
  margin-top: 4%;
  text-align: right;
}
/*//////////////////////*/

#unamePrinted {
  color: rgb(184, 225, 250);
}

#foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  padding-bottom: 7%;
  text-align: left;
  padding-top: 1rem;
}

#imgProductDiv {
  text-align: center;
  margin-left: 10%;
}

.imagenesAuto {
  display: inline-block;
  width: 15em;
  margin-bottom: 5px;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.containerLogin {
  padding-left: 4%;
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Raleway", serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* 
Info products */

.contenedor {
  margin-top: 40px;
  display: flex;
  margin: 40px auto;
  width: 60%;
}

#infoProduct {
  width: 40%;
}

#imgsProduct {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

#imgsProduct img {
  width: 50%;
}

#formComment {
  margin-left: 18.5%;
}

.contendor__comentarios {
  width: 60%;
  margin: 20px auto;
  border: 1px #ccc solid;
}

.contendor__comentarios .comment {
  padding: 20px 5px;
  border: 1px #ccc solid;
  padding-left: 3%;
}

/* .contendor__comentarios .comment h6 {
  
} */

.fecha,
.hora {
  color: rgb(90, 90, 90);
  font-family: "Raleway", serif !important;
}

.estrellitasDiv {
  display: flex;
  padding-right: 2%;
}

.estrellitas {
  color: rgb(255, 208, 0);
  display: flex;
  width: 20%;
}

.hora {
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  padding-left: 80%;
}

.onyxSoldCount {
  color: rgb(114, 119, 167);
  font-size: 18px;
  font-family: "Raleway", serif !important;
}

.onyxTitle {
  font-size: 35px;
  font-family: "Raleway", serif !important;
}

.onyxDescription {
  font-size: 18px;
  font-family: "Raleway", serif !important;
}

.onyxCost {
  font-size: 20px;
  font-variant: normal;
  font-family: "Raleway", serif !important;
}

.onyxCost > span {
  font-family: "Raleway", serif !important;
  font-size: 20px;
}

.onyxCategory{
  font-family: "Raleway", serif !important
}

#btnUser{
  background-color: rgb(229, 240, 237);
}

.relatedProductsDiv{
  background-color: rgb(221, 221, 221);
  padding: 10px 10px;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  text-align: center;
}

.imgRelProd{
  flex: 0 0 90%;
    max-width: 90%;
}

.descRelProd{
  margin-bottom: .25rem!important;
}

.relTitle{
  margin-left: 20%;
  margin-bottom: 20px;
  margin-top: 25px;
}

/* Productos CART */

.Cart-Items{
  margin: auto;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .image-box{
  width: 15%;
  text-align: center;
 }
 .about{
  height: 100%;
 }
 .title{
  padding-top: 5px;
  line-height: 10px;
  font-size: 32px;
  font-family: ‘Open Sans’;
  font-weight: 800;
  color: #202020;
 }
 .subtitle{
  line-height: 10px;
  font-size: 18px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  color: #909090;
 }

 .counter{
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .btnCart{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
 }
 .count{
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 900;
  color: #202020;
 }

 hr{
  width: 66%;
  float: right;
  margin-right: 5%;
 }
 .checkout{
   height: 50%;
  margin-left: 10%;
  margin-right: 10%;
  width: 70%;
  background-color: rgb(223, 242, 248);
  border-radius: 10px;
  padding: 10px
 }
 .total{
  width: 100%;
  display: flex;
  justify-content: space-between;
 }
 .Subtotal{
  font-size: 22px;
  font-family: ‘Open Sans’;
  font-weight: 700;
  color: #202020;
 }
 .totalText{
  font-size: 22px;
  font-family: ‘Open Sans’;
  font-weight: 700;
  color: #202020;
  width: 50%;
 }
 .items{
  font-size: 16px;
  font-family: ‘Open Sans’;
  font-weight: 500;
  color: #909090;
  line-height: 10px;
 }
 .subtotal-amount{
  font-size: 30px;
  font-family: ‘Open Sans’;
  font-weight: 900;
  color: #202020;
 }
 .total-amount{
  font-size: 30px;
  font-family: ‘Open Sans’;
  font-weight: 900;
  color: #202020;
  text-align: right;
  width: 50%;
 }

 #totalDiv{
   display: flex;
 }

 .button{
  margin-top: 5px;
  width: 100%;
  height: 40px;
  border: none;
  background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  color: #202020;
 }

 #paymentMethod{
   display: flex;
   margin-top: 5%;
   margin-right:48%;
   margin-left: 3%;
 }

/* The container */
.containerShip {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containerShip input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerShip:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerShip input:checked ~ .checkmark {
  background-color: #ABCDF9;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerShip input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerShip .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}

.paymentMethod .shippingMethod{
  display: flex;
  width: 50%;
}

#shippingMethod{
  display: flex;
  width: 99%;
}

#shippingMethodType{
  width: 33%;
}

#shippingInfo{
  width: 33%;
  margin-left: 4%;
}

.paymentMethod{
  width: 33%;
}