
/* esto es la nueva forma*/

.text-muted-cost {
  display: flex;
  margin-top: 4%;
  text-align: right;
}
/*//////////////////////*/

#unamePrinted {
  color: rgb(184, 225, 250);
}

#foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  padding-bottom: 7%;
  text-align: left;
  padding-top: 1rem;
}

#imgProductDiv {
  text-align: center;
  margin-left: 10%;
}

.imagenesAuto {
  display: inline-block;
  width: 15em;
  margin-bottom: 5px;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.containerLogin {
  padding-left: 4%;
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Raleway", serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* 
Info products */

.contenedor {
  margin-top: 40px;
  display: flex;
  margin: 40px auto;
  width: 60%;
}

#infoProduct {
  width: 40%;
}

#imgsProduct {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

#imgsProduct img {
  width: 50%;
}

#formComment {
  margin-left: 18.5%;
}

.contendor__comentarios {
  width: 60%;
  margin: 20px auto;
  border: 1px #ccc solid;
}

.contendor__comentarios .comment {
  padding: 20px 5px;
  border: 1px #ccc solid;
  padding-left: 3%;
}

/* .contendor__comentarios .comment h6 {
  
} */

.fecha,
.hora {
  color: rgb(90, 90, 90);
  font-family: "Raleway", serif !important;
}

.estrellitasDiv {
  display: flex;
  padding-right: 2%;
}

.estrellitas {
  color: rgb(255, 208, 0);
  display: flex;
  width: 20%;
}

.hora {
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  padding-left: 80%;
}

.onyxSoldCount {
  color: rgb(114, 119, 167);
  font-size: 18px;
  font-family: "Raleway", serif !important;
}

.onyxTitle {
  font-size: 35px;
  font-family: "Raleway", serif !important;
}

.onyxDescription {
  font-size: 18px;
  font-family: "Raleway", serif !important;
}

.onyxCost {
  font-size: 20px;
  font-variant: normal;
  font-family: "Raleway", serif !important;
}

.onyxCost > span {
  font-family: "Raleway", serif !important;
  font-size: 20px;
}

.onyxCategory{
  font-family: "Raleway", serif !important
}

#btnUser{
  background-color: rgb(229, 240, 237);
}

.relatedProductsDiv{
  background-color: rgb(221, 221, 221);
  padding: 10px 10px;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  text-align: center;
}

.imgRelProd{
  flex: 0 0 90%;
    max-width: 90%;
}

.descRelProd{
  margin-bottom: .25rem!important;
}

.relTitle{
  margin-left: 20%;
  margin-bottom: 20px;
  margin-top: 25px;
}